<!---------------toolbar----------------------->
<mat-toolbar class="topBar">
  <button type="button" mat-button routerLink="/home" class="btnHome2">
    <mat-icon>home</mat-icon>Partner Portal
  </button>
  <span class="spacer"></span>
  <div class="flex-center pbr">
    <a
      class="w-full flex-center txt-powered"
      matTooltip="About us"
      href="https://resultant.com/"
      target="_blank"
    >
      <h3 class="isPCTablet" style="font-size: 1rem; margin-top: 0.5rem;">POWERED BY RESULTANT</h3>
      <img src="assets/img/resultantLogo.png" class="rsLogo" />
    </a>
    <div class="w-full flex-center" style="justify-content: end">
      <button
        type="button"
        mat-button
        routerLink="/settings"
        matTooltip="Admin panel"
        style="color: white"
      >
        <mat-icon>admin_panel_settings</mat-icon>Admin
      </button>
      <button
        type="button"
        mat-button
        (click)="logout()"
        matTooltip="Logout"
        style="color: white"
      >
        <mat-icon>logout</mat-icon>Logout
      </button>
    </div>
  </div>
</mat-toolbar>

<!---------------sidenav----------------------->

<mat-sidenav-container autosize [hasBackdrop]="true">
  <mat-sidenav #sidenav [(opened)]="opened" mode="side">
   
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <ng-container *ngIf="node.permissions.includes(this.userRole)">
          <div
            class="tree-node-container hover-shadow"
            (click)="actionClick(node)"
          >
            <button mat-icon-button disabled></button>
            <mat-icon class="menu-icon">{{ node.icon }}</mat-icon>
            <span>{{ node.name }}</span>
          </div>
        </ng-container>
      </mat-tree-node>

      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        matTreeNodeToggle
      >
        <ng-container *ngIf="node.permissions.includes(this.userRole)">
          <div
            class="tree-node-container hover-shadow"
            (click)="actionClick(node)"
          >
            <button
              mat-icon-button
              disabled
              matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name"
            >
              <mat-icon *ngIf="false"></mat-icon>
            </button>
            <mat-icon class="menu-icon">{{ node.icon }}</mat-icon>
            <span>{{ node.name }}</span>
          </div>
        </ng-container>
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content class="routerContainer">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
