<div class="w-full min-h-full flex-center">
    <div class="ImgContainer">
        <img src="assets/img/dog404.png" class="Imag404">
        <h1 class="title404">404 Not found</h1>
        <h3 class="text404">
            I think your dog is cute, but honestly your dog ate this page.
        </h3>
        <div class="w-full flex-center">
            <button mat-raised-button color="primary" routerLink="/home">
                <mat-icon>arrow_back</mat-icon> Go back to welcome page
            </button>
        </div>
    </div>
</div>