@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$blue-palette, A700);
$my-accent: mat.define-palette(mat.$pink-palette, 600);
$my-warn: mat.define-palette(mat.$red-palette, 700);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
));

@include mat.core();
@include mat.all-component-themes($my-theme);
@include mat.all-component-colors($my-theme);
