<div class="w-full flex-center min-h-full">
  <h1 *ngIf="!demos" style="font-size: 30vw">
    There's no demos for this vertical
  </h1>
  <mar-card *ngFor="let demo of demos" class="demo-card">
    <mat-card-title>{{ demo.title }}</mat-card-title>
    <mat-card-subtitle>{{ demo.description }}</mat-card-subtitle>
    <mat-card-content>
      <div class="w-full flex-center">
        <img src="" alt="" class="card-image" />
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="button"
        mat-icon-button
        [routerLink]="['/demos/', demo.demos_id]"
      >
        <mat-icon style="color: green">visibility</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="addFavorite(demo)">
        <mat-icon style="color: yellow">star</mat-icon>
      </button>
    </mat-card-actions>
  </mar-card>
</div>

<button
  mat-fab
  color="warn"
  class="downLButton"
  routerLink="/verticals"
  matTooltip="Back to verticals"
>
  <mat-icon>arrow_back</mat-icon>
</button>
