<div class="w-full flex-center min-h-full">
  <div class="w-full flex-center">
    <mat-form-field class="w-50" appearance="outline">
      <mat-label>Find</mat-label>
      <input type="text" matInput [(ngModel)]="buscador" placeholder="Find demo...">
    </mat-form-field>
  </div>
  <h1 *ngIf="!demos" style="font-size: 30vw">
    There's no demos for this vertical
  </h1>
  <!-- <mar-card *ngFor="let demo of demos | buscadorGenerico: buscador" class="demo-card">
    <mat-card-title>{{ demo.demo_name }}</mat-card-title>
    <mat-card-subtitle>{{ demo.description }}</mat-card-subtitle>
    <mat-card-content>
      <div class="w-full flex-center" *ngIf="demo.multimedia_type_id == 1">
        <img [src]="demo.multimedia_link" alt="" class="card-image" />
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="button"
        mat-icon-button
        [routerLink]="['/demos/', demo.demo_id]"
      >
        <mat-icon style="color: green">visibility</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="addFavorite(demo)">
        <mat-icon style="color: yellow">star</mat-icon>
      </button>
    </mat-card-actions>
  </mar-card> -->
  <div *ngIf="demos" class="w-full flex-center demosContainer">
    <app-demo-card *ngFor="let demo of demos | buscadorGenerico: buscador" [favorite]="demo"></app-demo-card>
  </div>
</div>

<button
  mat-fab
  color="warn"
  class="downLButton"
  routerLink="/verticals"
  matTooltip="Back to verticals"
>
  <mat-icon>arrow_back</mat-icon>
</button>
