<!-- <mat-dialog-content> -->
  <mat-card class="w-full flex-center" *ngIf="data" style="">
    <mat-card-content>
      <div class="w-full flex-center topContainer">
        <h1>Multimedia viewer</h1>
        <div class="zoom-buttons">
          <button mat-icon-button (click)="zoomIn()">
            <mat-icon>zoom_in</mat-icon>
          </button>
          <button mat-icon-button (click)="zoomOut()">
            <mat-icon>zoom_out</mat-icon>
          </button>
        </div>
        <button
          mat-stroked-button
          type="button"
          (click)="onNoClick()"
          color="warn"
        >
          <mat-icon>close</mat-icon>Close
        </button>
      </div>
      <img
        *ngIf="data.mimeType == 'img'" || multimedia_type_id == 1
        [src]="data.b64"
        alt=""
        class="viewersStyle"
        [style.transform]="'scale(' + zoom + ')'"
        width="100%"
      />
      <video *ngIf="data.multimedia_type_id == 2" class="viewersStyle" controls preload="auto" autoplay>
        <source [src]="data.b64" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </mat-card-content>
  </mat-card>
<!-- </mat-dialog-content> -->
