<mat-card class="demo-card">
  <mat-card-title>{{ genData.title }}</mat-card-title>
  <mat-card-subtitle>{{ genData.description }}</mat-card-subtitle>
  <mat-card-content>
    <div class="w-full flex-center bodyImg">
      <img
        *ngIf="genData.multimedia_link && genData.multimedia_type_id == 1"
        [src]="genData.multimedia_link"
        class="card-image"
      />
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="w-full flex-center">
      <button type="button" mat-icon-button (click)="navigateToDemo()" matTooltip="View details of demo">
        <mat-icon style="color: green">visibility</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="addFavorite(genData)" matTooltip="Add to genDatas">
        <mat-icon style="color: yellow">star</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="requestDetails(genData)" matTooltip="I'd like details">
        <mat-icon style="color: teal">mail</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
