<!---------------toolbartop----------------------->
<!-- <mat-toolbar class="topBartop">
  <button mat-icon-button type="button" routerLink="/coming">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="Back">Back to other Portal</span>
</mat-toolbar> -->
<!---------------toolbar----------------------->
<mat-toolbar class="topBar">
  <button mat-icon-button type="button" (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button>
  <div style="text-align: center">
    <!-- <img src="assets/img/logoUpset.png" class="toolbar-logo" /> -->
    <!-- <h1>UpLink</h1> -->
    <h1>Partner Portal</h1>
  </div>
  <span class="spacer"></span>
  <div class="flex-center pbr">
    <h1>POWERED BY RESULTANT</h1>
    <img src="/assets/img/resultantLogo.png">
  </div>
  <!-- <button type="button" mat-raised-button color="warn" (click)="logout()"> // logut button and menus
    <mat-icon>logout</mat-icon> Logout
  </button> -->
  <!-- <button mat-icon-button [matMenuTriggerFor]="profileMenu" *ngIf="isAuth"><mat-icon>profile</mat-icon></button>
        <mat-menu #profileMenu="matMenu" class="overflow-hidden">
            <button mat-menu-item routerLink="/administracion" (click)="opened = false">
                <mat-icon>admin_panel_settings</mat-icon> Administración
            </button>
            <button mat-menu-item style="color: red;" (click)="logout()">
                <mat-icon style="color: red;">logout</mat-icon> Salir
            </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" *ngIf="!isAuth"><mat-icon>login</mat-icon></button>
        <button mat-icon-button matTooltip="Opciones de perfil" [matMenuTriggerFor]="menuProfile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menuProfile="matMenu">
            <div style="overflow: hidden;">
                <button mat-menu-item (click)="openModalProfile()">
                    <mat-icon>person</mat-icon>Perfil
                </button>
                <button mat-menu-item *ngIf="isAuth" (click)="logout()" style="color: red;">
                    <mat-icon style="color: red;">logout</mat-icon> Cerrar sesión
                </button>
            </div>
        </mat-menu> -->
</mat-toolbar>

<!---------------sidenav----------------------->

<mat-sidenav-container autosize [hasBackdrop]="true">
  <mat-sidenav #sidenav [(opened)]="opened" mode="side">

    <!-- <mat-nav-list>
      <a class="hvr" mat-list-item routerLink="/home" (click)="opened = !opened">
        <div class="flex-center list-item-label">
          <mat-icon>home</mat-icon> &nbsp;
          <h3 class="">Home</h3>
        </div>
      </a>
      <a class="hvr" mat-list-item routerLink="/" (click)="opened = !opened">
        <div class="flex-center list-item-label">
          <mat-icon>hotel_class</mat-icon> &nbsp;
          <h3 class="">Favorites</h3>
        </div>
      </a>
      <a class="hvr" mat-list-item routerLink="/" (click)="opened = !opened">
        <div class="flex-center list-item-label">
          <mat-icon>dashboard</mat-icon> &nbsp;
          <h3 class="">Dashboards</h3>
        </div>
      </a>
      <a class="hvr" mat-list-item routerLink="/" (click)="opened = !opened">
        <div class="flex-center list-item-label">
          <mat-icon>smart_toy</mat-icon> &nbsp;
          <h3 class="">AI Assistant</h3>
        </div>
      </a>
    </mat-nav-list> -->
    
    
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <div
          class="tree-node-container"
          (mouseover)="onMouseOver($event)"
          (mouseleave)="onMouseLeave($event)"
          (click)="navigate(node)"
        >
          <button mat-icon-button disabled></button>
          <mat-icon class="menu-icon">{{ getIcon(node.name) }}</mat-icon>
          <span >{{ node.name }}</span>
        </div>
      </mat-tree-node>
    
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle>
        <div
          class="tree-node-container"
          (mouseover)="onMouseOver($event)"
          (mouseleave)="onMouseLeave($event)"
          (click)="navigate(node)"
        >
          <button mat-icon-button disabled matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon *ngIf="false"></mat-icon>
          </button>
          <mat-icon class="menu-icon">{{ getIcon(node.name) }}</mat-icon> 
          <span>{{node.name}}</span>
        </div>
      </mat-tree-node>

    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content class="routerContainer">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>