<div class="w-full flex-center">
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <div
        class="img-style"
        [style.background-image]="'url(' + slide.img + ')'"
      >
        <div class="w-51">
          <h1 class="w-full title">{{ slide.title }}</h1>
        </div>
        <div class="w-51">
          <h3 class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo hic
            vel quis nesciunt animi, in quaerat ipsam reprehenderit culpa, amet
            repellendus placeat fuga fugiat quisquam pariatur eaque molestias
            laboriosam possimus! Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Aliquam voluptatem eligendi omnis quisquam
            distinctio ab adipisci officia dolorum recusandae officiis hic, quis
            quod totam vitae optio odio tempore architecto blanditiis! Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Corporis unde
            atque minima laborum dolore reprehenderit. Perferendis, eaque, sint
            pariatur facere delectus consequatur aperiam ratione doloremque non
            corporis qui, doloribus nam!
          </h3>
        </div>
      </div>
      <!-- <img [src]="slide.img" class="img-style" [routerLink]="slide.link" matTooltip="More details"/> -->
    </div>
  </ngx-slick-carousel>

  <button
    type="button"
    mat-mini-fab
    (click)="slickModal.slickNext()"
    class="btnFoward"
    matTooltip="Next slide"
  >
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>

  <button
    type="button"
    mat-mini-fab
    (click)="slickModal.slickPrev()"
    class="btnBack"
    matTooltip="Prev slide"
  >
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
</div>
