.img-style {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.mg {
  // width: 100%;
  height: 100% !important;
  object-fit: contain;
  object-position: center;
  border-radius: 8px 8px 0 0;
  z-index: 1;
}
.carousel {
  width: 100%;
  height: 350px;
  overflow: hidden;
  justify-content: space-evenly;
}

.btnFoward {
  position: absolute;
  right: 2rem;
  margin-top: 8%;
}

.btnBack {
  position: absolute;
  left: 2rem;
  margin-top: 8%;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  background-color: var(--primary-head-color);
  border-radius: 0 0 8px 8px;
  z-index: 2;
  position: absolute;
  bottom: 0;

  /* Ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Asegúrate de que tenga ancho limitado */
  width: 100%;
}