<div class="w-full flex-center min-h-full">
  <mat-card class="MainCard">
    <mat-card-title>
      <div class="w-full flex-center title-container">
        <h1 class="MainTitle">Attention status</h1>
        <mat-form-field
          appearance="outline"
          class="finder"
          *ngIf="attentions.length > 0"
        >
          <mat-label>Finder</mat-label>
          <input
            type="text"
            matInput
            placeholder="Let's find something"
            [(ngModel)]="buscador"
          />
          <button mat-icon-button matPrefix>
            <mat-icon>search</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            color="warn"
            *ngIf="buscador"
            (click)="buscador = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-card-title>
    <mat-card-content>
      <table class="MainTable" *ngIf="attentions.length > 0">
        <thead style="border-bottom: 1px solid black">
          <th>Attention Status Id</th>
          <th>Attention Status</th>
          <th>Order</th>
          <th>Color</th>
          <th>Status</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr
            *ngFor="let attention of attentions | buscadorGenerico : buscador"
            class="hvrPush"
          >
            <td>{{ attention.attention_status_id }}</td>
            <td>{{ attention.attention_status_name }}</td>
            <td>{{ attention.charging_order }}</td>
            <td>
              <mat-chip [style.background-color]="attention.color" [style.color]="attention.invColor">{{attention.color}}</mat-chip>
            </td>
            <td>
              <mat-slide-toggle
                [checked]="attention.status_id ? true : false"
                (change)="changeEnterpriceStatus(attention, $event)"
              >
                {{
                  attention.status_id ? "Enabled" : "Disabled"
                }}</mat-slide-toggle
              >
            </td>
            <td>
              <button
                mat-icon-button
                matTooltip="Edit"
                class="editBtn"
                (click)="openAddEditAttentionStatus(attention)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Delete"
                color="warn"
                (click)="changeEnterpriceStatus(attention, 2)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!attentions" class="w-full flex-center">
        <h1 class="noDataText">There's no information</h1>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        matTooltip="Refresh information"
        (click)="getAttentions()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button
  mat-fab
  color="warn"
  class="downLButton"
  routerLink="/settings"
  matTooltip="Back to settings"
>
  <mat-icon>arrow_back</mat-icon>
</button>

<button
  mat-fab
  color="primary"
  class="downRButton"
  (click)="openAddEditAttentionStatus()"
  matTooltip="Add enterprice"
>
  +<mat-icon>beenhere</mat-icon>
</button>
