.MainCard {
    width: 1000px;
    max-width: 95%;
}

.title-container {
  justify-content: space-between;
}

.finder{
  width: 400px;
  max-width: 100%;
}

.MainTitle {
  font-size: xx-large;
}

.MainTable {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.noDataText {
  text-align: center;
  color: blue;
  margin-top: 2rem;
}

.downLButton {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.downRButton {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.chip {
  padding: 5px;
  border-radius: 16px;
  margin: 5px;
}