<mat-dialog-content>
    <mat-card class="MainCard">
      <mat-card-title>{{ titulo }}</mat-card-title>
      <mat-card-content>
        <form
          [formGroup]="formlink"
          (ngSubmit)="AddEditLink()"
          class="w-full flex-center formClass"
        >
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Link</mat-label>
            <input
              type="title"
              matInput
              formControlName="link_url"
              placeholder="Link URL"
              max="128"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Description"
              rows="4"
              maxlength="256"
            ></textarea>
          </mat-form-field>
          

          <mat-form-field appearance="outline" class="w-49">
            <mat-label>Company</mat-label>
            <mat-select formControlName="company_id">
              <mat-option
                *ngFor="let company of cats.companies"
                [value]="company.company_id"
              >
                {{ company.company_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-49">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="expiration_date"
              [min]="minDate"
              [readonly]="true"
            />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <div class="w-49 flex-center">
            <div *ngIf="filePreview" id="previewContainer" class="file-preview flex-center">
              
              <button class="delete-btn" (click)="clearFilePreview()"><mat-icon>cancel</mat-icon></button>
          
              <img *ngIf="isImage" [src]="filePreview" alt="Selected Image" class="file-thumbnail">
              <video *ngIf="isVideo" [src]="filePreview" controls class="file-thumbnail"></video>
              <audio *ngIf="isAudio" [src]="filePreview" controls></audio>
            </div>
            
            <div class="file-container">
              <label for="fileInput" class="btn flex-center">
                <mat-icon>
                  cloud_upload
                </mat-icon> &nbsp; Upload multimedia
              </label>
              <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
            </div>
          </div>
          
          
          
          
         
          <div class="w-full flex-center buttonsContainer">
            <button
              type="button"
              mat-raised-button
              color="warn"
              matTooltip="Close"
              (click)="onNoClick()"
              style="width: 10rem;"
            >
              <mat-icon>close</mat-icon> Close
            </button>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              matTooltip="save"
              style="width: 10rem;"
            >
              <mat-icon>save</mat-icon>Save
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>
  