.mainContainer {
    padding: 1.5rem;
}

.imgSt {
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.txtInfo {
    text-align: justify ;
}

.iconSt {
    width: 50px;
    object-fit: contain;
    object-position: center;
    margin: 1rem;
}

.itemIcon {
    margin: 1rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.dattatchContainer {
    gap: 1rem
}