<mat-dialog-component>
    <div class="w-full flex-center mainContainer">
        <div class="w-full">
            <h1>{{data.demo_name}}</h1>
        </div>
        <div class="w-full">
            <img [src]="data.multimedia_link" class="imgSt">
        </div>
        <div class="w-full">
            <h3 class="txtInfo">{{ data.information }}</h3>
        </div>
        <div class="w-full">
            <h2>Attatchments</h2>
        </div>
        <div class="w-full flex-center">
            <button type="button" mat-raised-button color="warn" (click)="onNoclick()"><mat-icon>close</mat-icon>Close</button>
        </div>
    </div>
</mat-dialog-component>