<div class="w-full flex-center carousel-container" *ngIf="demos">
  <button mat-fab color="primary" class="left" (click)="prevSlide()">
    &#10094;
  </button>

  <div class="carousel">
    <div
      class="w-full carousel-inner"
      [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
    >
      <app-demo-card
        *ngFor="let demo of demos"
        [genData]="demo"
      ></app-demo-card>
    </div>
  </div>

  <button mat-fab color="primary" class="right" (click)="nextSlide()">
    &#10095;
  </button>
</div>
