<div class="carousel-container" *ngIf="groupedDemos.length > 0" matTooltip="You can scroll to sides">
  <!-- <button mat-fab color="primary" class="left" (click)="prevSlide()" *ngIf="currentIndex > 0">
    &#10094;
  </button> -->

  <!-- <div class="carousel" > -->
    <div
      class="carousel-inner"
      [style.transform]="'translateX(-' + currentIndex * 100 + 'vw)'"
      [style.width]="groupedDemos.length*100 +'vw'"
    >
      <!-- <div class="carousel-item" *ngFor="let group of groupedDemos"> -->
        <!-- <div class="card-group"> -->
          <app-demo-card *ngFor="let demo of demos" [genData]="demo"></app-demo-card>
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>

  <!-- <button mat-fab *ngIf="lastPage()" color="primary" class="right" (click)="nextSlide()">
    &#10095;
  </button> -->
</div>
