.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 550px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none; 
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  transition: transform 0.5s ease-in-out;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  // width: 100%;
  padding: 1.5rem;
  gap: 2rem;
}

.carousel-item {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  min-width: 100%;
}

.card-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  min-width: 100%;
}

.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.left {
  left: 1rem;
}

.right {
  right: 1rem;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-icon {
  font-size: 24px;
}

::-webkit-scrollbar {
  display: none;
}
