<div class="w-full flex-center min-h-full">
  <mat-card class="MainCard">
    <mat-card-title>
      <div class="w-full flex-center title-container">
        <h1 class="MainTitle">Companies</h1>
        <mat-form-field appearance="outline" class="finder" *ngIf="enterprices.length > 0" >
          <mat-label>Finder</mat-label>
          <input
            type="text"
            matInput
            placeholder="Let's find something"
            [(ngModel)]="buscador"
          />
          <button mat-icon-button matPrefix>
            <mat-icon>search</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            color="warn"
            *ngIf="buscador"
            (click)="buscador = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-card-title>
    <mat-card-content>
      <table class="MainTable" *ngIf="enterprices.length > 0">
        <thead style="border-bottom: 1px solid black">
          <th>Enterpice Id</th>
          <th>Comercial name</th>
          <th>Legal name</th>
          <th>E-mail</th>
          <th>Phone number</th>
          <th>Adress</th>
          <th>Status</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr
            *ngFor="let enterpice of enterprices | buscadorGenerico : buscador"
            class="hvrPush"
          >
            <td>{{ enterpice.company_id }}</td>
            <td>{{ enterpice.company_name }}</td>
            <td>{{ enterpice.legal_name }}</td>
            <td>{{ enterpice.company_email }}</td>
            <td>{{ enterpice.phone_number }}</td>
            <td>{{ enterpice.address }}</td>
            <td>
              <mat-slide-toggle
                [checked]="enterpice.status_id ? true : false"
                (change)="changeEnterpriceStatus(enterpice, $event)"
              >
                {{
                  enterpice.status_id ? "enabled" : "disabled"
                }}</mat-slide-toggle
              >
            </td>
            <td>
              <button
                mat-icon-button
                matTooltip="Edit"
                class="editBtn"
                (click)="openAddEditEnterprice(enterpice)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Delete"
                color="warn"
                (click)="changeEnterpriceStatus(enterpice, 2)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!enterprices" class="w-full flex-center">
        <h1 class="noDataText">There's no information</h1>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        matTooltip="Refresh information"
        (click)="getEnterprices()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button
  mat-fab
  color="warn"
  class="downLButton"
  routerLink="/settings"
  matTooltip="Back to settings"
>
  <mat-icon>arrow_back</mat-icon>
</button>

<button
  mat-fab
  color="primary"
  class="downRButton"
  (click)="openAddEditEnterprice()"
  matTooltip="Add enterprice"
>
  +<mat-icon>apartment</mat-icon>
</button>
