<div class="w-full flex-center min-h-full CardsContainer">
  <div class="w-full flex-center min-h-full CardsContainer">
    <mat-card
      class="OptionsCard"
      *ngFor="let option of options"
      (click)="navigate(option.route)"
    >
      <mat-card-title
        >
        <h1 class="CardTitle">{{ option.title }}</h1>
        <h3 class="cardSubtitle">{{option.subtitle}}</h3>
        </mat-card-title
      >
      <mat-card-content>
        <mat-icon class="IconCard">
          {{ option.icon }}
        </mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <ng-template #catsOptionsCards> -->
  <!-- <div class="w-full flex-center">
    <div class="catsHeadContent">
      <h1>Catalogs</h1>
    </div>
    <mat-card
      class="OptionsCard"
      *ngFor="let option of catsOptions"
      (click)="navigate(option.route)"
    >
      <mat-card-title
        ><h1 class="CardTitle">{{ option.title }}</h1></mat-card-title
      >
      <mat-card-content>
        <mat-icon class="IconCard">
          {{ option.icon }}
        </mat-icon>
      </mat-card-content>
    </mat-card>
  </div> -->
  <!-- </ng-template> -->
</div>

<!-- <button mat-fab color="warn" class="downLButton" (click)="isCat=false;" *ngIf="isCat">
    <mat-icon>arrow_back</mat-icon>
</button> -->
