.img-style {
  height: 350px;
  max-width: 98%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    scale: 1.01;
  }
}

.mg {
  // width: 100%;
  height: 100% !important;
  object-fit: contain;
  object-position: center;
  border-radius: 8px 8px 0 0;
  z-index: 1;
}

.carousel {
  width: 100%;
  height: 350px;
  overflow: hidden;
  justify-content: space-evenly;
}

.btnFoward {
  position: absolute;
  right: 2rem;
  margin-top: 8%;
}

.btnBack {
  position: absolute;
  left: 2rem;
  margin-top: 8%;
}

.title {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary-head-color);
  border-radius: 0 0 8px 8px;
  z-index: 2;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  transform: translateY(1rem);
  width: 100%;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
