<mat-dialog-content>
  <mat-card class="MainCard">
    <mat-card-title>{{ titulo }}</mat-card-title>
    <mat-card-content>
      <form
        [formGroup]="formrole"
        (ngSubmit)="AddEditRole()"
        class="w-full flex-center formClass"
      >
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Role</mat-label>
          <input
            type="text"
            matInput
            formControlName="role_name"
            placeholder="Role"
            max="128"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Description"
            rows="4"
            maxlength="256"
          ></textarea>
        </mat-form-field>        
       
        <div class="w-full flex-center buttonsContainer">
          <button
            type="button"
            mat-raised-button
            color="warn"
            matTooltip="Close"
            (click)="onNoClick()"
            style="width: 10rem;"
          >
            <mat-icon>close</mat-icon> Close
          </button>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            matTooltip="save"
            style="width: 10rem;"
          >
            <mat-icon>save</mat-icon>Save
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
