<div class="w-full flex-center min-h-full">
  <mat-card class="carder">
    <mat-card-title>
      <h1 class="txtClipped">Login</h1>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="clientCredentials" (ngSubmit)="login()" class="w-full flex-center" style="margin-top: 2rem;">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>E-mail address</mat-label>
          <input matInput formControlName="username" placeholder="Username" maxlength="64" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Password</mat-label>
          <input [type]="showPsw ? 'text' : 'password'" matInput formControlName="password" placeholder="Password"
            maxlength="45" />
          <button mat-icon-button matSuffix type="button" (click)="showPsw = !showPsw">
            <mat-icon>{{ showPsw ? "visibility" : "visibility_off" }}</mat-icon>
          </button>
          <button *ngIf="clientCredentials.value.password" mat-icon-button matPrefix type="button"
            (click)="handleClear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="w-full flex-center btnContainer">
          <button type="submit" mat-raised-button class="btnLogin">
            <mat-icon>login</mat-icon> Login
          </button>
          <a href="" class="w-full" style="text-align: end; margin-top: 0.7rem;">Forgot your password?</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>