<div class="w-full flex-center min-h-full">
  <mat-card class="MainCard">
    <mat-card-title>
      <div class="w-full flex-center title-container">
        <h1 class="MainTitle">System users</h1>
        <mat-form-field appearance="outline" class="finder" *ngIf="users.length > 0">
          <mat-label>Finder</mat-label>
          <input
            type="text"
            matInput
            placeholder="Let's find something"
            [(ngModel)]="buscador"
          />
          <button mat-icon-button matPrefix>
            <mat-icon>search</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            color="warn"
            *ngIf="buscador"
            (click)="buscador = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-card-title>
    <mat-card-content>
      <table class="MainTable" *ngIf="users">
        <thead style="border-bottom: 1px solid black">
          <th>User name</th>
          <th>E-mail</th>
          <th>Phone number</th>
          <th>Rol</th>
          <th>Company</th>
          <th>Status</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users | buscadorGenerico : buscador"
            class="hvrPush" [ngClass]="{'aprroveField': user.status_id == 2}"
            [matTooltip]="user.status_id == 2 ? 'Pending approval' : ''"
          >
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.role_name	 }}</td>
            <td>{{ user.company_name	 }}</td>
            <td>
              <mat-slide-toggle
                [checked]="user.status_id == 1 ? true : false"
                (change)="changeUserStatus(user, $event)"
                [disabled]="user.status_id == 0"
              >
                {{ user.status_id == 1 ? "Enabled" : "disabled" }}</mat-slide-toggle
              >
            </td>
            <td>
              <button
                mat-icon-button
                matTooltip="Edit"
                class="editBtn"
                (click)="openAddEditUser(user)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Approve"
                color="accent"
                (click)="changeUserStatus(user, 1)"
                *ngIf="user.status_id == 2"
              >
                <mat-icon>how_to_reg</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!users" class="w-full flex-center">
        <h1 class="noDataText">There's no information</h1>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        matTooltip="Refresh information"
        (click)="getUsers()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button
  mat-fab
  color="warn"
  class="downLButton"
  routerLink="/settings"
  matTooltip="Back to settings"
>
  <mat-icon>arrow_back</mat-icon>
</button>

<button
  mat-fab
  color="primary"
  class="downRButton"
  (click)="openAddEditUser()"
  matTooltip="Add user"
>
  <mat-icon>person_add</mat-icon>
</button>
